<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <div class="background"></div>
    <% if(message){ %>
      <div class="alert"><%= message %></div>
    <% } %>
      <div class="new-user-info-container">
        <form class="new-user-info" action="/create_profile" method="POST">
          <label for="fullName" class="info-label-required">Full Name (maximum 50 characters)</label><br>
          <input id="fullName" name="fullName" type="text" class="info-input-field" maxlength="50" required><br>
          <label for="addressOne" class="info-label-required">Address 1 (maximum 100 characters)</label><br>
          <input id="addressOne" name="addressOne" type="text" class="info-input-field" maxlength="100" required><br>
          <label for="cityOne" class="info-label-required">City (maximum 100 characters)</label>
          <input id="cityOne" name="cityOne" type="text" class="info-input-field" maxlength="100" required>
          <label for="stateOne" class="info-label-required">State</label>
          <select id="stateOne" name="stateOne" class="info-input-field" required>
            <option value = "null" selected>select</option>
            <% states.forEach(function(state) {%>
              <option value = "<%= state.state_code %>"><%= state.state_code %></option>
            <% }); %>
          </select>
          <label for="zipCodeOne" class="info-label-required">Zip Code (5-9 digits)</label>
          <input id="zipCodeOne" name="zipCodeOne" type="text" class="info-input-field" maxlength="9" minlength="5" required><br>
          
          <label for="addressTwo" class="info-label">Address 2 (maximum 100 characters) (optional)</label><br>
          <input id="addressTwo" name="addressTwo" type="text" class="info-input-field" maxlength="100"><br>
          <label for="cityTwo" class="info-label">City (maximum 100 characters)</label>
          <input id="cityTwo" name="cityTwo" type="text" class="info-input-field" maxlength="100">
          <label for="stateTwo" class="info-label">State</label>
          <select id="stateTwo" name="stateTwo" class="info-input-field">
            <option value = "null" selected>select</option>
            <% states.forEach(function(state) {%>
              <option value = "<%= state.state_code %>"><%= state.state_code %></option>
            <% }); %>
          </select>
          <label for="zipCodeTwo" class="info-label">Zip Code (5-9 digits)</label>
          <input id="zipCodeTwo" name="zipCodeTwo" type="text" class="info-input-field" maxlength="9" minlength="5"><br>
          <button type="submit" class="save-btn">Save Profile</button>
        </form>
      </div>
    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../js/scripts.js"></script>
</body>
</html>